@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;500;600&display=swap");

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto Mono";
}

/* *********************BURGER******************* */
#burgerButton {
  background-color: #3aafa9;
  box-shadow: #def2f1 5px 5px;
  width: 20px;
  float: right;
  margin: 10px 10px 0px 0px;
}

/* *********************HEADER******************* */

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header h1 {
  font-weight: 600;
  font-size: 30pt;
}

#header h3 {
  font-weight: 500;
  color: #2b7a78;
  width: 50%;
}

img {
  width: 25vw;
}

/* *********************STACKS******************* */
#stacks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  z-index: 1;
  animation-name: rise;
  animation-duration: 1s;
}

@keyframes rise {
  0% {
    top: 50vh;
  }
  100% {
    top: 0vh;
  }
}

#stacks h3 {
  text-align: left;
  margin-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-bottom: 20px;
}

li {
  font-weight: 300;
  margin-bottom: 8px;
  margin-left: 25px;
}

.stack {
  margin: 20px;
  width: 20vw;
  background-color: #3aa4a9;
  color: white;
  box-shadow: rgba(43, 122, 120, 1) 15px 15px;
}

#block {
  background-color: #def2f1;
  width: 80%;
  height: 70vh;
  align-self: center;
  position: absolute;
  z-index: 0;
  margin-top: 100px;
}

#stacksContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* *********************BIO******************* */

#bio {
  z-index: 2;
  font-weight: 300;
  font-size: 11pt;
  background-color: #def2f1;
  width: 80%;
  align-self: center;
}

#bio p {
  margin: 50px 50px;
}

/* *********************BUTTONS ******************* */

#buttons {
  display: flex;
  justify-content: space-around;
  background-color: #def2f1;
  z-index: 3;
  width: 80%;
  align-self: center;
  padding-bottom: 50px;
}

.button {
  background-color: black;
  color: white;
  border: none;
  font-size: 15pt;
  padding: 10px 15px;
  font-family: "Roboto Mono";
  box-shadow: rgba(58, 175, 169, 1) 7px 7px;
  text-decoration: none;
}

.button:hover {
  box-shadow: black 7px 7px;
  background-color: rgba(58, 175, 169, 1);
  color: black;
}

.button:active {
  transform: translateY(5px);
}

/* *********************PROJECTS******************* */
#projects {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  padding-top: 30px;
}

#projects img {
  border-radius: 10px;
  transition: all .2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.8) 0px 9px 15px -1px, rgba(0, 0, 0, 0.8) 0px 1px 3px -1px;
}

#projects img:hover{
  transform: scale(1.1);
}

/* *********************FOOTER******************* */
#footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
}

#footer h4 {
  background-color: #3aafa9;
  padding: 3px 15px;
  margin-bottom: 0;
}

#footer p {
  font-weight: 300;
  font-size: 9pt;
}
